# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.egg-info/

# -------------------------------
# Virtual environment
# -------------------------------
.venv/
env/
venv/

# -------------------------------
# VS Code settings
# -------------------------------
.vscode/

# -------------------------------
# Streamlit
# -------------------------------
.streamlit/

# -------------------------------
# Jupyter notebooks
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# OS-specific
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Database files
# -------------------------------
db/*.db

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Model files (if generated later)
# -------------------------------
models/*.pkl
models/*.sav
models/*.h5
models/*.pt